<p>
  Created by <%= link_to "Blake Erickson", "http://www.blakeerickson.com" %>. 
  Design by <%= link_to "John Otander", "http://www.johnotander.com" %>.
  Contribute here: <%= link_to "longest_streak", "http://github.com/oblakeerickson/longest_streak" %>.
</p>
