<h3>Stats: </h3>
<ul>
  <li>
    # of GitHub users I'm currently tracking:
    <%= @count %>
  </li>
  <li>
    # of users I've calculated longest streaks for:
    <%= @longest_streak_count %>
  </li>
</ul>
